services:
    redis:
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'redis-volume:/data'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
    gotenberg:
        image: 'gotenberg/gotenberg:8'
        ports:
            - '3000:3000'
        networks:
            - sail
networks:
    sail:
        driver: bridge
volumes:
    redis-volume:
        driver: local
